# 请将 cursor 放在 “#outline: ./Path/” 上, 尝试按 <tab> 以折叠目录.
# (但是得先安装 ‘gitignore-mode’.)

#outline: ./
/*
!/.dir-locals.el
!/.github/
!/.gitignore
!/GNUmakefile
!/INSTALL.rst
!/LICENSE.txt
!/MANIFEST.md
!/README.org
!/docs/
!/early-init.el
!/etc/
!/init.el
!/lisp/
!/media/
!/modules/
!/scripts/
!/shynur-elpa/
!/site-lisp/
!/var/

##outline:  ./.github/
/.github/*
!/.github/CONTRIBUTING.textile
!/.github/FUNDING.yaml
!/.github/workflows/

###outline:   ./.github/workflows/
/.github/workflows/*
!/.github/workflows/make-docs.yaml

##outline:  ./docs/
/docs/*
!/docs/Emacs-FAQ.txt
!/docs/Emacs-regexp.org
!/docs/Emacs-use_daemon.md
!/docs/MS_Windows-keyboard_remap.txt
!/docs/Org-quickstart.org
!/docs/index.html

##outline:  ./etc/
/etc/*
!/etc/clang-format.yaml
!/etc/emacs-v.ps1
!/etc/restart-SmoothScroll.ps1
!/etc/shynur-custom.el
!/etc/use-emacs.bash
!/etc/use-emacs.ps1
!/etc/yas-snippets/

###outline:   ./etc/yas-snippets/
/etc/yas-snippets/*
!/etc/yas-snippets/[0-9A-Za-z]*-mode/

####outline:    ./etc/yas-snippets/[0-9A-Za-z]*-mode/
/etc/yas-snippets/[0-9A-Za-z]*-mode/*
!/etc/yas-snippets/[0-9A-Za-z]*-mode/.yas-skip
!/etc/yas-snippets/[0-9A-Za-z]*-mode/.yas-parents
!/etc/yas-snippets/[0-9A-Za-z]*-mode/.yas-setup.el
!/etc/yas-snippets/[0-9A-Za-z]*-mode/?*.yasnippet

##outline:  ./lisp/
/lisp/*
!/lisp/shynur-?*.el
!/lisp/themes/

###outline:   ./lisp/themes/
/lisp/themes/*
!/lisp/themes/shynur-themes.el
!/lisp/themes/shynur-?*-theme.el

##outline:  ./media/
/media/*
!/media/images/

###outline:   ./media/images/
/media/images/*
!/media/images/shynur-letter.xpm

##outline:  ./modules/
/modules/*
!/modules/src/

###outline:   ./modules/src/
/modules/src/*
!/modules/src/shynur-?*.c
!/modules/src/shynur-?*.h
# 文件 ‘emacs-module.h’ 基于 GPL, 一定要排除它, 切割!
/modules/src/*emacs-module*

##outline:  ./scripts/
/scripts/*
!/scripts/ielm-cli.el
!/scripts/make-shynur-emacs.el

##outline:  ./shynur-elpa/
/shynur-elpa/*
!/shynur-elpa/shynur-elpa.el

##outline:  ./site-lisp/
/site-lisp/*
!/site-lisp/default.el
!/site-lisp/leim-list.el
!/site-lisp/site-start.el
!/site-lisp/subdirs.el
!/site-lisp/their-sites/

###outline:   ./site-lisp/their-sites/
/site-lisp/their-sites/*
!/site-lisp/their-sites/.nosearch

##outline:  ./var/
/var/*
!/var/abbrev_defs.el
!/var/snake-scores.txt
!/var/tetris-scores.txt

#outline:

# Local Variables:
# coding: utf-8-unix
# End:
