[submodule "etc/fonts/maple-mono"]
    path = etc/fonts/maple-mono
    url = git@github.com:subframe7536/maple-font.git

[submodule "local-elpa/holo-layer"]
    path = local-elpa/holo-layer
    url = git@github.com:manateelazycat/holo-layer.git

[submodule "modules/src/pop-select"]
    path = modules/src/pop-select
    url = git@github.com:lynnux/pop-select.git

# Local Variables:
# coding: utf-8-unix
# End:
