## 请将 cursor 放在“#outline: ./PATH/”上, 尝试按“TAB”以折叠目录.

#outline: ./
/*
!/.dir-locals.el
!/.github/
!/.gitignore
!/GNUmakefile
!/LICENSE.txt
!/MANIFEST.md
!/README.org
!/docs/
!/early-init.el
!/etc/
!/init.el
!/lisp/
!/site-lisp/

#outline:   ./.github/
/.github/*
!/.github/FUNDING.yaml

#outline:   ./docs/
/docs/*
!/docs/Emacs-FAQ.txt
!/docs/Emacs-regexp.org
!/docs/Emacs-use_daemon.md
!/docs/MS_Windows-keyboard_remap.txt
!/docs/index.html
!/docs/pages/

#outline:     ./docs/pages/
/docs/pages/*
!/docs/pages/index.md
!/docs/pages/*.html

#outline:   ./etc/
/etc/*
!/etc/abbrev_defs.el
!/etc/clang-format.yaml

#outline:   ./lisp/
/lisp/*
!/lisp/shynur-abbrev.el
!/lisp/shynur-early-init.el
!/lisp/shynur-elisp.el
!/lisp/shynur-init.el
!/lisp/shynur-org.el
!/lisp/shynur-package.el
!/lisp/shynur-server.el
!/lisp/shynur-tmp.el
!/lisp/themes/

#outline:     ./lisp/themes/
/lisp/themes/*
!/lisp/themes/shynur-themes.el

#outline:   ./site-lisp/
/site-lisp/*
!/site-lisp/default.el
!/site-lisp/leim-list.el
!/site-lisp/site-start.el
!/site-lisp/subdirs.el

#outline:

# Local Variables:
# coding: utf-8-unix
# End:
