### ~shynur/.emacs.d/.gitignore

#outline: ./
/*
!/.dir-locals.el
!/.gitignore
!/GNUmakefile
!/LICENSE.txt
!/README.org
!/clang-format.yaml
!/docs/
!/early-init.el
!/init.el
!/shynur/

#outline: ./docs/
/docs/*
!/docs/Emacs-regexp.org
!/docs/Emacs-use_daemon.md

#outline: ./shynur/
/shynur/*
!/shynur/machine.el
!/shynur/org.el

#outline:

# Local Variables:
# coding: utf-8-unix
# End:
